<div class="d-flex">
  <div class="d-flex flex-column p-2">
      <!-- <p>Form value: {{ dateFilterForm.value | json }}</p>
      <p>{{ dateFilterStart }}  {{ dateFilterEnd }}</p> -->
    <form [formGroup]="dateFilterForm" class="dates d-flex flex-column mb-3 mt-2 ml-1 text-center" novalidate>
      <h5 class="mt-1">Выбрать даты <i class="fa fa-filter" aria-hidden="true"></i></h5>
      <div class="form-group row mb-1">
          <label for="dateFilterStart" class="col-sm-2 col-form-label col-form-label-sm">С </label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm mb-2" 
                     type="date" 
                     id="dateFilterStart"
                     formControlName="dateFilterStart">
            </div>
        </div>
        <div class="form-group row ">
            <label for="dateFilterEnd" class="col-sm-2 col-form-label col-form-label-sm">По </label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" 
                     type="date" 
                     id="dateFilterEnd"
                     formControlName="dateFilterEnd">
            </div>
        </div>
      </form>
    <ul style="list-style: none; white-space: nowrap" class="ml-1 pl-0">
      <li class="mb-1">
        <button class="btn btn-outline-success btn-sm btn_new_report"
                (click)="createReport()">
          Новый отчет <i class="fa fa-building-o" aria-hidden="true"></i>
        </button>
      </li>
      <li *ngFor="let report of reports" class="mb-1">
        <button type="button" class="btn btn-outline-primary btn-sm reportLink"
                (click)=selectReport(report)
                [class.active]="report === selectedReport">
          {{ report.date | date }} - {{ report.machine.name }}
        </button>
      </li>
    </ul>
  </div>
  <div class="d-flex p-4 justify-content-center" style="width:100%">
    <div class="d-flex flex-column align-items-center">
      <app-report-total-info *ngIf="selectedReport"
                             [report]="selectedReport">
      </app-report-total-info>
      <app-report-detail *ngIf="selectedReport"
                         [report]="selectedReport"
                         [machines]="machines"
                         [operators]="operators"
                         [creatingReport]="creatingReport"
                         (onChangedReportOfArray)="onChangedReportOfArray($event)">
      </app-report-detail>
    </div>
  </div>
</div>
