<div class="container-fluid">
  <div class="row content">
    <div class="col-md-3 align-self-start">
      <div class="reports justify-content-between">

        <div class="row reports-header">
            <h4 class="col-md-6">Отчеты</h4>
            <button type="button" class="btn btn-outline-primary btn-sm">
              Выбрать даты
            </button>
        </div>

        <hr>

        <div class="form-group row">
          <label for="dateFrom" class="col-md-2 col-form-label col-form-label-sm">C</label>
          <div class="col-md-10">
            <input type="date" name="dateFrom" id="dateFrom" class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-group row">
          <label for="dateTo" class="col-md-2 col-form-label col-form-label-sm">По</label>
          <div class="col-md-10">
            <input type="date" name="dateTo" id="dateTo" class="form-control form-control-sm">
          </div>
        </div>

        <hr>

        <div class="report-list col-md-12">
        </div>
        
      </div>
    </div>
    <div class="col-md-9 card cart-primary ">
      <div class="details bg-success">
        <h4>Детали</h4>
        <hr>
      </div>
    </div>
  </div>
</div>