@import "~bootstrap/scss/bootstrap.scss"

.reports,
.details 
  margin-top: 1rem
  padding: 1rem 
  border-radius: .5rem

.reports
  border: 1px solid 

.reports-header
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-around
  align-items: baseline
